@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  background-image: linear-gradient(
      rgba(34, 211, 238, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(34, 211, 238, 0.03) 1px, transparent 1px),
    radial-gradient(
      circle at 0% 0%,
      rgba(34, 211, 238, 0.02) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(34, 211, 238, 0.05) 0%,
      transparent 50%
    );
  background-size: 40px 40px, 40px 40px, 100% 100%, 100% 100%;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #080808;
}
body::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 10px;
  border: 2px solid #080808;
}
body::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}
@keyframes sound-wave {
  0% {
    height: 2px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 2px;
  }
}

@keyframes sound-wave-idle {
  0% {
    height: 3px;
  }
  50% {
    height: 4px;
  }
  100% {
    height: 3px;
  }
}

.animate-sound-wave {
  animation: sound-wave 1s ease-in-out infinite;
}

.animate-sound-wave-idle {
  animation: sound-wave-idle 2s ease-in-out infinite;
}
