@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: auto;
}
body::-webkit-scrollbar-track {
  background: #fafafac2;
}
body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 10px;
  border: 2px solid #fafafac2;
}
body::-webkit-scrollbar-thumb:hover {
  background: #393c41;
}
